:root{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

body{
    background-color: #131414;
}

.titleCatl {
    text-align: center;
    margin-bottom: 0;
}

.subtitleCatl {
    text-align: center;
    padding: 2px 1 2px 2px;
    margin-top: 0;
}

.headerBanner {
    height: 72px;
    padding: 2px 1 12px;
    background-color: #00305c;
    color: #FFF;
    position: relative;
    margin: 10px;
}

.headerBanner::after {
    margin-top: 10px;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(to bottom, #00824a 50%, #fae042 50%);
}




.form{
    margin: 10px;
}


/* input */
.formText{ 
    width: 90%;
    padding: 0.5rem;
    border: 2px solid #5c5c5c;
    border-radius: 30px;
    outline: none;
    background: transparent;
    color: #FFF;
}


.tipoCham{
    color: #FFF;
    
}

#tipoChamadoSelect{
    background-color: #121314;
    color: #FFF;
    border-radius: 30px;
    outline: none;
    padding: 0.3rem;
    border: 2px solid #5c5c5c;
}

.toolsBar {
    display: flex;
    flex-direction: column;
    right: 0;
    margin: 1px;
    background-color: #1c1f2281;
    position: fixed;
}


.toolButton {
    background-color: #e9e9e98e;
}



