.toolButton {
    display:block;
    float: left;
    position: relative;
    left: 50%;
  border: 2px solid rgba(#fff, 0.6);
  padding: 20px 32px;
  transform: translate(-50%, -50%);
  font-family: sans-serif;
  text-transform: uppercase;
  color: rgba(#fff, 0.8);
  cursor: pointer;
  transition: border-color 0.5s, background-color 0.5s, color 0.5s;
}

.toolButton:hover {
    background-color: #fff;
    border-color: transparent;
    color: #444

}