.toolButton {
  margin: 5px;
  display: inline-grid;
  width: 50px;
  border: 2px solid rgba(#fff, 0.6);
  transform: translate(-50%, -50%);
  color: rgba(#fff, 0.8);
  cursor: pointer;
  transition: border-color 0.5s, background-color 0.5s, color 0.5s;
}

.toolButton:hover {
    background-color: #fff;
    border-color: transparent;
    color: #444
}