:root{
    --color-header: #FAF5F6;
    --color-textcolor: #fff;
    --background-color: #131414;
    --separator-color: 
    --filter-color: 
    --button-border: 
    --button:
    --button-hover: 
}