.container{
    width: 45%;
    background-color: #1c1f22;
    padding: 10px;
    margin-top: 2%;
    margin-left: 2%;
    left: 0;
    border-style: solid;
    box-shadow: 4px 4px rgb(17, 17, 17);
    border-radius: 6px;
    border-color: #2a2b2c;
}


.containerCh {
    color: aliceblue;
    width: 45%;
    background-color: #1c1f22;
    padding: 10px;
    margin-top: 2%;
    margin-left: 2%;
    left: 0;
    border-style: solid;
    box-shadow: 4px 4px rgb(17, 17, 17);
    border-radius: 6px;
    border-color: #2a2b2c;
}

.containerRsp {
    color: aliceblue;
    width: 45%;
    background-color: #1c1f22;
    padding: 10px;
    margin-top: 2%;
    margin-left: 2%;
    left: 0;
    border-style: solid;
    box-shadow: 4px 4px rgb(17, 17, 17);
    border-radius: 6px;
    border-color: #2a2b2c;
}

.containerTools {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    text-align: center;

}
