

:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    min-height: 100vh;
    background: #F0F4FF;
  }



.sideBar {
    position: fixed;
    flex-basis: 20rem;
    flex-grow: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 120px;
    display: flex;
    flex-direction: column;
    background: #e5ebf3;
    padding: 20px 10px;
    transition: all 0.4s ease;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.sidebar:hover {
    width: 250px;
}

.principalForm {
    margin-left: 10%;
    flex-basis: 20rem;
    flex-grow: 1;
    flex: content;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #e5ebf3;
    margin-top: 30px;
    margin-left: 18%;
    margin-right: 10%;
    padding: 20px;
}

.toolsBar{
    right: 1%;
    top: 1%;
    position: absolute;
}



input, textarea {
    font-family: inherit;
    border-color: rgb(129, 132, 134);
    width: 100%;
    border: 1px ;
    border-bottom: 1px solid;
    outline: 2px;
    font-size: 1rem;
    padding: 10px 0;
    background: transparent;
    border-color: 0.3s;
}

button:hover {
    background-color: #91c6ff;
    transition-duration: 300ms;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    
    
}

button:active {
    background-color: #0e4177;
    box-shadow: 0 1px #8a8a8a;
    transform: translateY(2px);
}

.result {
    margin-top: 25px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #e6f0ff;
    margin-left: 8%;
    margin-right: 8%;
    padding: 10px;
}